services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    environment:
      NODE_ENV: production
      DB_HOST: yazo-labs-db
      DB_USER: yazolabs
      DB_PASS: fefc8bb7b287454c1493812882b7569f
      DB_NAME: didax
      CORS_ORIGIN: https://didax.yazolabs.com.br
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        VITE_API_URL: https://api.didax.yazolabs.com.br
    depends_on:
      - backend
