services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    environment:
      NODE_ENV: production
      BACKEND_PORT: "3001"
      DB_HOST: yazo-labs-db
      DB_PORT: "3306"
      DB_USER: yazolabs
      DB_PASS: fefc8bb7b287454c1493812882b7569f
      DB_NAME: didax
      CORS_ORIGIN: https://didax.yazolabs.com
    expose:
      - "3001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        VITE_API_URL: https://api.didax.yazolabs.com
    depends_on:
      - backend
    expose:
      - "80"
